Prerequisite Index Page
<p><a href="/func_preps/test">Test Page for Leetcode Problem </a><br /></p>
<p><a href="/func_preps/01">PreCourse 1 - Json File</a><br /></p>
<p>Introduction to Json File</p>
<p><a href="/func_preps/02">PreCourse 2 - Intro HTML</a><br /></p>
<p>
  Introduction to Html - 标签种类以及样式
</p>
<p><a href="/func_preps/03">PreCourse 3 - VS technical</a><br /></p>
<p>
  5种常用的JS 的小技巧，让Code更简单
</p>
<p><a href="/func_preps/04">PreCourse 4 - Data Type</a><br /></p>
1. Data Type 内置对象<br />
<p><a href="/func_preps/05">PreCourse 5 - </a><br /></p>
