<head>
  <style>
    .highlight {
      padding: 2;
      background: yellow;
      color: red;
    }
  </style>
</head>
<div>
  <p>
    This is Test Page For ES 6 Part 2 <br />
    console page for more information
  </p>
</div>
<div id="demo1"></div>
<br />
<div id="demo2"></div>
<br />
<div id="demo3"></div>
<script src="/javascripts/es6/02.js"></script>
