<div>
  <p>
    This is Test Page For ES 6 Part 1 <br />
    console page for more information
  </p>
  <p>
    use const by default;<br />
    only use let if rebinding is needed<br />
    (var should not be used in ES6)
  </p>
</div>

<script src="/javascripts/es6/01.js"></script>
