<p>
  Modern Javascript ES6 Index Page
</p>
<!-- <iframe
  width="1535"
  height="873"
  src="https://www.youtube.com/embed/5s35h_6v4ZI?list=PLCRqr1mERvdJ0IZMD1U4oSB7k0gyAjyIx"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe> -->
<p><a href="/func_es6/01">ES6 1 - 变量申明 </a><br /></p>
<p>
  Var, Let, Const
  <!-- Reference Video 1-- -->
</p>
<p><a href="/func_es6/02">ES6 2 - </a><br /></p>
<p>
  ES6 2 -
</p>
<p><a href="/func_es6/03">ES6 3 - </a><br /></p>
<p>
  ES6 3 -
</p>
<p><a href="/func_es6/04">ES6 4 - </a><br /></p>
<p>
  ES6 4 -
</p>
<p><a href="/func_es6/05">ES6 5 - </a><br /></p>
<p>
  ES6 5 -
</p>
<p><a href="/func_es6/05">ES6 6 - </a><br /></p>
<p>
  ES6 6 -
</p>
