Tutorial Index Page Reference Video : Console Log
<!-- <iframe
  width="1203"
  height="677"
  src="https://www.youtube.com/embed/xIFbNmfIfhI"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe> -->
<p><a href="/func_tutorials/01">Tutorial 1 - Stack 栈</a><br /></p>
<p>
  1.进制转换 (本次目标10进制转2进制)
</p>
<p><a href="/func_tutorials/02">Tutorial 2 - Queue 队列</a><br /></p>
<p>
  1. 击鼓传花 (指定一开参与人数，已经循环剔除人数，比如没到4自动扣除)<br />
  2. 优先队列 (比如飞机VIP 客户先上，同步多台电脑打印顺序)
</p>
<p><a href="/func_tutorials/03">Tutorial 3 - Linked List 链表</a><br /></p>
<p>Tutorial three info</p>
<p><a href="/func_tutorials/04">Tutorial 4 - Set 集合</a><br /></p>
<p>Tutorial four info</p>
<p><a href="/func_tutorials/05">Tutorial Five</a><br /></p>
<p>
  Tutorial five info
</p>
<p><a href="/func_tutorials/06">Tutorial Six</a><br /></p>
<p>
  Tutorial six info
</p>
<p><a href="/func_tutorials/07">Tutorial Seven</a><br /></p>
<p>
  Tutorial seven info
</p>
<p><a href="/func_tutorials/08">Tutorial Eight</a><br /></p>
<p>
  Tutorial eight info
</p>
<p><a href="/func_tutorials/09">Tutorial Nine</a><br /></p>
<p>
  Tutorial nice info
</p>
