<p>
  用队列的方法实现击鼓传花
</p>
<p>
  chuanhua(playerlist,delete_number) set default
</p>
<p>
  playerlist = a, b, c, d, e, f
</p>
<p>
  delete_number = 3
</p>

<script src="/javascripts/tutorial/02.js"></script>
