<div>
  <h1>击鼓传花例子</h1>
  <p>
    console.log 代码：<br />
    chuanhua(playerlist,delete_number)
  </p>
  <p>
    default setting<br />
    playerlist = a, b, c, d, e, f<br />
    delete_number = 3
  </p>
  <h1>VIP优先级例子</h1>
  <p>
    console.log 代码：<br />
    pq.getItems();
  </p>
  <p>
    default setting<br />
    //新建测试目标 var pq = new PriorityQueue();<br />
    //创建连个测试目标 pq.enqueue('小黑', 10);<br />
    pq.enqueue('小明', 12);<br />
  </p>
</div>

<script src="/javascripts/tutorial/02.js"></script>
