<div>
  <p>
    Info Start at Here
  </p>
  <p>
    点击按钮显示信息条<br />
    可以将JS 代码编写到button标签的 onclick 属性中<br />
    可以将JS 添加到a标签的属性中
  </p>

  <button onclick="alert('Hello World -4!');">
    点我一下</button
  ><br />
  <a href="javascript:alert('Hello World -5!');">你也点我一下</a><br />
  <a href="javascript:;">你点我这一下试试</a><br />
</div>

<script src="/javascripts/fundamental/01.js"></script>
