<p>
  Loop if pratice
</p>
<p>
  Test Question 1<br />
  从键盘输入小明的期末成绩: 当成绩为100时，'奖励一辆BMW'<br />
  当成绩为[80-99]时，'奖励一台iphone15s'<br />
  当成绩为[60-80]时，'奖励一本参考书'<br />
  其他时，什么奖励也没有。<br />
  prompt()可以弹出一个提示框，该提示框中会带有一个文本框，
  用户可以在文本框中输入一段内容，该函数需要一个字符串作为参数，
  该字符串将会作为提示框的提示文字
  用户输入的内容将会作为函数的返回值返回，可以定义一个变量来接收该内容
</p>
<p>
  Test Question 2<br />
  大家都知道，男大当婚，女大当嫁。那么女方家长要嫁女儿，当然要提出一定的条件：
  <br />
  高：180cm以上; 富:1000万以上; 帅:500以上;<br />
  如果这三个条件同时满足，则:'我一定要嫁给他'<br />
  如果三个条件有为真的情况，则:'嫁吧，比上不足，比下有余。' <br />
  如果三个条件都不满足，则:'不嫁！' <br />
</p>
<p>
  Test Question 3<br />
  编写程序，由键盘输入三个整数分别存入变量num1、num2、num3，<br />
  对他们进行排序，并且从大到小输出。<br />
</p>

<script src="/javascripts/fundamental/03.js"></script>
