<p>
  Fundamental Javascript Index Page
</p>
<!-- <iframe
  width="1188"
  height="669"
  src="https://www.youtube.com/embed/1N7Ia2e5RBE?list=PLmOn9nNkQxJFubqN777c_nScnJ4dpEYMT"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe> -->
<p><a href="/func_fundamental/01">Fundamental 1 - 基础数据类型</a><br /></p>
<p>
  1. output 输出语句<br />
  2. variable 变量与赋值<br />
  3. var 标识符(命名基本准则)<br />
  3. change type 类型转换<br />
  <!-- Reference Video 3,4 -->
</p>
<p><a href="/func_fundamental/02">Fundamental 2 - </a><br /></p>
<p>
  Fundamental 02
</p>
<p><a href="/func_fundamental/03">Fundamental 3 - </a><br /></p>
<p>
  Fundamental 03
</p>
<p><a href="/func_fundamental/04">Fundamental 4 - </a><br /></p>
<p>
  Fundamental 04
</p>
<p><a href="/func_fundamental/05">Fundamental 5 -</a><br /></p>
<p>
  Fundamental 05
</p>
