<p>Lecture Index Page</p> 
<!-- <iframe
  width="1188"
  height="669"
  src="https://www.youtube.com/embed/A2dKd0zQlmE?list=PLlPcqa0O2MxBdXcMErtsEjVil0mx5mDK9"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe> -->
<p>
<a href="/func_lectures/01" >Lecture 1 - 提示框应用</a><br>
</p>
1.Show block of information under checkbox, and change the style <br>、
    提示框<br>
    onmouseover, onmouseout<br>
2. Show alter msg and onclick function<br>
    信息提示框<br>
    alter, onclick<br>
</p>
<a href="/func_lectures/02" >Lecture 2 - 初级样式改变</a><br>
<p>
    1.Change background style <br>
        按钮改变背景样式<br>
        onclick<br>
    2. Show msg when click<br>
        按钮在填写框浮现字体<br>
        onclick<br>
    3. Show block when click and click one more time to hide<br>
        3.1 按钮显示隐藏div<br>
        3.2 钮改变选框颜色<br>
        if statements<br>
</p>
<a href="/func_lectures/03" >Lecture 3 - 定时器的功能</a><br>
<p>
    设置功能性在JS 在用户触发某一个功能时
    1. Combine Function by set change variables<br>
    onclick<br>
</p>
<a href="/func_lectures/04" >Lecture 4 - 表格选框功能</a><br>
<p>
    1. Hide the onclick function in javascript<br>
        使用循环一次在多个选框中执行动作<br>
        onclick and write onclick function in javascript not in html script<br>
    2. Select multiple Elements and performed same actions<br>
        一次性选个多个，打勾，取消，反选<br>
        document.getElementById, document.getElementsByTagName, document can be refer in any class-id<br>
    PS ： intro window.onload function<br>
</p>
<a href="/func_lectures/05" >Lecture 5 - 选项卡 </a><br>
<p>
    1. Custom add attribute<br>
    添加选项卡功能<br>
    for loop, for, this<br>
    onclick<br>
    2. Functional Calendars<br>
    简易日历<br>
    innerHTML,

</p>
<a href="/func_lectures/06" >Lecture 6 - 基础 Javascript</a><br>
<p>变量类型<br>
   变量作用与闭包<br>
   命名规范<br>
   运算符<br>
   程序流程控制<br>
   JSON</p>
<a href="/func_lectures/07" >Lecture 7 - 深入 Javascript </a><br>
<p>
    函数返回值,函数传参(可变参)<br>
    数组基础<br>
    添加删除元素<br>
    排序转换
</p>
<a href="/func_lectures/08" >Lecture 8 - 定时器 </a><br>
<p>
   定时器的使用：作用，时钟效果，延时提示框<br>
   实例：数码时钟<br></p>
<a href="/func_lectures/09" >Lecture 9 - [定时器的延申]无缝滚动 </a><br>
<p>
    效果演示<br>
    运动原理<br>
    响应键<br>
    修改速度<br>
    鼠标移入暂停<br>
</p>

<a href="/func_lectures/10" >Lecture 10 - Dom 基础</a><br>
<p>
    Dom 节点<br>
    Dom元素属性操作<br>
    className选择元素<br>
    封装函数<br>
</p>
<a href="/func_lectures/11" >Lecture 11 - Dom 操作应用</a><br>
<p>
    创建Dom元素<br>
    插入元素<br>
    删除元素<br>
</p>
<a href="/func_lectures/12" >Lecture 12 - Dom 高级应用</a><br>
<p>
    表格应用(获取，隔行变色，添加、删除行)<br>
    排(//表单基础，事件，内容验证)<br>
    搜索<br>
</p>
<a href="/func_lectures/13" >Lecture 13 - JS 运动基础01</a><br>
<p>
    运动基础<br>
    匀速运动<br>
    运动框架<br>
</p>
<a href="/func_lectures/14" >Lecture 14 -  </a><br>
<p>
    JS 运动基础<br>
    缓冲运动<br><br>
</p>

<a href="/func_lectures/15" >Lecture Fifteen </a><br><br><br><br>
<a href="/func_lectures/16" >Lecture Sixteen </a><br><br><br><br>
<a href="/func_lectures/17" >Lecture Seventeen </a><br><br><br><br>
<a href="/func_lectures/18" >Lecture Eighteen </a><br><br><br><br>
<a href="/func_lectures/19" >Lecture Nineteen </a><br><br><br><br>
<a href="/func_lectures/20" >Lecture Twenty </a><br><br><br><br>
<a href="/func_lectures/21" >Lecture Twenty-One </a><br><br><br><br>
<a href="/func_lectures/22" >Lecture Twenty-Two </a><br><br><br><br>
<a href="/func_lectures/23" >Lecture Twenty-Three </a><br><br><br><br>
<a href="/func_lectures/24" >Lecture Twenty-Four </a><br><br><br><br>
